:root {
  --pharagraph-color: #455d7a;
  --heading-font-family: "Playfair Display", serif;
  --standard-fornt-family: "Poppins", sans-serif;
  --button-color: #f95959;
  --background-color: #e3e3e3;
  --heading-color: #233142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
}
p {
  font-family: var(--standard-fornt-family);
  color: var(--heading-color);
}
a {
  display: block;
}

nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
  margin-left: 15px;
}
nav a {
  display: inline;
  font-family: var(--standard-fornt-family);
  text-decoration: none;
  color: var(--pharagraph-color);
}
nav a:hover,
.active {
  color: var(--button-color);
}
.logo {
  max-width: 150px;
}
.hero {
  text-align: center;
  background: var(--background-color);
  padding: 200px 50px 200px 50px;
}

.hero p {
  color: var(--pharagraph-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.hero h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
.hero h2 {
  font-family: var(--standard-fornt-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--pharagraph-color);
}
.btn-standard {
  background-color: var(--button-color);
  color: white;
  padding: 15px 40px;
  font-family: var(--standard-fornt-family);
  font-size: 18px;
}
.sub-heading {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}
.project-description h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  padding-top: 100px;
}
.project-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--pharagraph-color);
  opacity: 0.8;
  width: 80%;
}
.btn-project {
  background-color: white;
  color: var(--button-color);
  border-color: var(--button-color);
  padding: 15px 40px;
  font-family: var(--standard-fornt-family);
  font-size: 16px;
  line-height: 24px;
}
.content {
  padding: 200px 50px 200px 50px;
}
.content h1 {
  padding-top: 30px;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  width: 70%;
}
.content h2 {
  font-family: var(--standard-fornt-family);
  color: var(--pharagraph-color);
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}
.viil {
  width: 560px;
}
.content h3 {
  font-family: var(--standard-fornt-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.content p {
  font-family: var(--pharagraph-color);
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.contact {
  text-align: left;
  padding: 200px 50px 80px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}
.contact-content a {
  text-decoration: none;
  color: var(--button-color);
}

@media (max-width: 992px) {
  .hero {
    padding: 200px 50px 100px 50;
  }
  .hero h1 {
    font-size: 72px;
    line-height: 98px;
  }
  .hero p {
    font-size: 26px;
  }
  .project-description {
    text-align: center;
  }
  .row {
    margin-bottom: 0;
  }
  .project-description p {
    width: 100%;
  }
  .project-description h2 {
    padding-top: 0;
    font-size: 54px;
    line-height: 65px;
  }
  .content {
    text-align: center;
  }
  .content h1 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    line-height: 70px;
  }
  .content h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .viil {
    margin-top: 70px;
  }
  .contact {
    text-align: center;
  }
  .contact-content {
    text-align: center;
  }
}
